body {
    padding: 0;
    margin: 0;
    background-color: #b2ddf7;
    font-family: Arial, sans-serif;
}

#logo{
    margin: 10px;
    width: 10vw;

}

footer {
    text-align: center;
}

#logForm {
    background-color: #81d6e3;
    padding: 20px;
    margin: 20px auto;
    width: 35vw;
}

#logForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logForm label {
    color: #419791;
    margin-top: 10px;
    font-weight: bold;
}

#logForm input[type=email], #logForm input[type=password] {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #81d6e3;
    width: 60%;
}

#logForm input[type=submit] {
    background-color: #4cb5ae;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#logForm input[type=submit]:hover {
    background-color: #6097a9;
}

#toRegister {
    color: #419791;
    margin-top: 10px;
    text-decoration: none;
}

#toRegister:hover {
    color: #fff;
}

footer {
    position: absolute; /* Posição absoluta */
    bottom: 0; /* Alinha na parte inferior */
    width: 100%; /* Largura total */
    height: 75px; /* Altura do rodapé, ajuste conforme necessário */
    background-color: #81d6e3; /* Cor de fundo do rodapé */
    color: #419791; /* Cor do texto do rodapé */
    text-align: center; /* Alinhamento do texto */
    line-height: 50px; /* Centraliza verticalmente o texto no rodapé */
    margin-top: 20px;
    font-weight: bold;
}
