{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NESESI - Chat</title>
    <link rel="stylesheet" href="{% static 'chat/style.css'%}">
</head>
<body>
    <header>
        <div id="nav-container">
            <a href="{% url 'index' %}"><img src="{% static 'images/1.png' %}" id="logo" alt="Logomarca NESESI"></a>
            <nav>
                <a href="{% url 'index' %}" id="homeNav">Home</a>
                <a href="settings.html" id="settingsNav">Settings</a>
            </nav>
        </div>
        <button type="button" id="logoutBtn">Logout</button>
    </header>


    <main>
        <section id="chat-container">
            <div id="message-container"></div>
            <div id="input-container">
                <input type="text" id="messageInput" placeholder="Message...">
                <button type="button" id="sendBtn">Send</button>
            </div>
        </section>
    </main>
    

    <footer>
        <p>Developed by Steps</p>
    </footer>
</body>
</html>
