{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'login/style.css'%}">
    <title>NESESI - Login</title>
</head>
<body>

    <header>
        <a href="{% url 'index' %}"><img src="{%static 'images/1.png'%}" id="logo" alt="Logomarca NESESI"></a>
    </header>

    <section id="logForm">
        <form action="">
            <label>Email</label>
            <input type="email" id="emInput">
            <label>Password</label>
            <input type="password" id="psInput">
            <input type="submit" value="Login">
            <a href="{% url 'register' %}" id="toRegister">Register Here</a>
        </form>
    </section>

    <footer>
        <p>Developed by Steps</p>
    </footer>
    
</body>
</html>